@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Sacramento&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    background-color: #af3959;
    color: #cecdd4;
    text-decoration: none;
    padding: 35px;
}

#hero_msg h1, #hero_msg h4 {
    text-align: center; 
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background{
    height: 725px;
    background-color: #cecdd4;
}

body {
    background-color: #cecdd4;
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #cecdd4;
}

nav a:hover {
    background-color: black;
    color: #c3cdd4;
}

.book, .join {
    background-color: #ccc;
    color: black;
    text-decoration: none;
    pad: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #39344f;
    color: white;
}

.msg {
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #736b91;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

foot .social img {
    padding-top: 15px;
}

.home_grid {
    font-family: Sacramento, "Brush Script MT", cursive;
    color: #39344f;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #39344f;
}

.msg h2{
    font-family: Sacramento, "Brush Script MT", cursive;
    color: #39344f;
}

.msg p {
    color: #235050;
    padding-bottom: 15px;
}

footer a {
    color: #cecdd4;
    text-decoration: none;
}

footer a:hover {
    background-color: black;
    color: #c3cdd4;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero_img {
    width: 100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.logo_link {
    padding-top: 5px;
}

.rivers_card, .camping_card, .rapids_card {
    margin: 200px;
}
.card_img {
    border: 10px solid black;
}