@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Sacramento&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #cecdd4;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center; 
}

#hero-msg h4 {
    color: white;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background{
    height: 725px;
    background-color: white;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #cecdd4;
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #af3959;
}

nav a:hover {
    background-color: black;
    color: #c3cdd4;
}

.book, .join {
    background-color: #ccc;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #39344f;
    color: white;
}

.msg {
    background-color: white;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}

.msg h2 {
    font-family: Sacramento, "Brush Script MT", cursive;
    color: #39344f;
    font-size: 0.5em;
}

.msg p {
    font-family: Sacramento, "Brush Script MT", cursive;
    color: #235050;
    padding-bottom: 15px;
    font-size: 0.5em;
}

footer {
    background-color: #736b91;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

.home_grid {
    font-family: Sacramento, "Brush Script MT", cursive;
    color: #39344f;
    font-size: 2em;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.home-title {
    color: white;
    margin-top: 10px;
}

h4 {
    color: #39344f;
}

footer a {
    color: #cecdd4;
    text-decoration: none;
}

footer a:hover {
    background-color: black;
    color: #c3cdd4;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.card-img {
    border: 10px solid black;
    transition: .5s;
    box-shadow: 5px 5px 10px black;
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 200px 0;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
    margin: 200px 0;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
    margin: 200px 0;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
    width: 100%;
}

#hero-box-faq {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    z-index: -1;
    width: 100%;
}

.home-title-faq {
    font-size: 300%;
    margin-top: 1.5em;
}

.q_and_a {
    border: solid black;
    background-color: #6f7364;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 200px;
    }
}